:root {
    --primary-color: #007bff;
    --primary-color-hover: #0069d9;
    --danger-color: #dc3545;
    --danger-color-hover: #c82333;
    --success-color: #28a745;
    --success-color-hover: #218838;
    --warning-color: #ffc107;
    --warning-color-hover: #e0a800;
    --info-color: #17a2b8;
    --info-color-hover: #138496;
    --text-color: #333;
    --background-color: #f8f9fa;
    --border-color: #ced4da;
    --scrollbar-color: #ced4da;
    --scrollbar-track-color: #f8f9fa;
}

body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

.container {
    max-width: 800px;
    margin: auto;
}

.card {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-title {
    font-size: 1.25rem;
    color: var(--primary-color);
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}

.btn {
    margin-top: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn:focus {
    outline: 2px solid var(--primary-color-hover);
    outline-offset: 2px;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.btn-danger {
    background-color: var(--danger-color);
    border-color: var(--danger-color);
}

.btn-danger:hover {
    background-color: var(--danger-color-hover);
    border-color: var(--danger-color-hover);
}

.btn-success {
    background-color: var(--success-color);
    border-color: var(--success-color);
}

.btn-success:hover {
    background-color: var(--success-color-hover);
    border-color: var(--success-color-hover);
}

.btn-warning {
    background-color: var(--warning-color);
    border-color: var(--warning-color);
}

.btn-warning:hover {
    background-color: var(--warning-color-hover);
    border-color: var(--warning-color-hover);
}

.btn-info {
    background-color: var(--info-color);
    border-color: var(--info-color);
}

.btn-info:hover {
    background-color: var(--info-color-hover);
    border-color: var(--info-color-hover);
}

.log-content {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    color: var(--text-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    max-width: 100%;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}

.log-content::-webkit-scrollbar {
    width: 10px;
}

.log-content::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 6px;
}

.log-content::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

.log-content:hover {
    background-color: #e9ecef;
}
